p {
    font-family: 'Georgia', Times, serif;
}
img {
    overflow:auto;
}

#skills, #computers, #typing, #hearts, #bingo {
    padding:15px 5px 15px 5px;
    background-color: teal;
    color: white;
    position: absolute; 
    text-align: center;
    font-size: 25px;
    width: 225px;
}
#skills {
    top: 290px;
    left: 106px;
}

#computers {
    top: 290px;
    left: 441px;
}

#typing {
    top: 547px;
    left: 106px;
}

#hearts {
    top: 547px;
    left: 441px;
}

#bingo {
    top: 803px;
    left: 106px;
}

td img {
    margin-right: 40px;
    margin-left: 40px;
   
    }
